//- bootstrap.jade
//- bootstrap mixins

doctype html
html(ng-app="netStatsApp")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport",content="width=device-width, initial-scale=1")
        meta(name="description",content="")
        meta(name="author",content="")
        link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700')
        title= title
        link(rel='stylesheet', href='/css/netstats.min.css')
    body(data-spy="scroll",data-target=".scrollspy")
        block content

        block scripts
            script(src="/js/netstats.min.js")

